
/* #about > .pageContent > .aboutIcons{
    text-align: end;
} */


#aboutfooter{
    text-align:start;
}


.aboutIcons > img{
    height:1.7em;
    transition:0.3s ease-out 60ms;
    cursor: pointer;
    margin-right:5px;
}

.aboutIcons > img:hover{
    transform:scale(1.2);
}

#me{
    height:auto;
    max-height:14em;
    float:left;
    margin-right:12px;
    /* border:1px solid; */
    border-radius:2em;
}



@media only screen and (min-width:700px){

    .aboutflex{
        display: flex;
    }

    #me{
        height:auto;
        max-height:22em;
        /* border:1px solid; */
        margin:0px 20px 0px 0px;
        border-radius:2.5em;
    }

    /* #aboutfooter{
        text-align: end;
    } */

}


@media only screen and (min-width:1200px){

    .aboutflex{
        display:block;
    }

}