
#about > .pageContent > .aboutIcons{
    text-align: end;
}

#about > .pageContent > .aboutIcons > img{
    height:20px;
}

#about > .pageContent > .tech{
    display:grid;
    grid-template-columns:1fr 1fr;
}

#about > .pageContent > .tech > div{
    font-weight:normal;
    margin:8px;
    border:1px solid #ffffff7a;
    border-radius:5px;
    /* background:#1f1f1f; */
    background:#000625;
    padding:10px;
    transition:.3s;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about > .pageContent > .tech > div:hover{
    background:#000c46;
    transition:.3s;
    border: 1px solid #fff;
    box-shadow: 0px 0px 30px 1px rgba(204, 204, 204, 0.3);
}


#about > .pageContent > .tech > div > #alt{
    color:#ddd;
}


#about > .pageContent > .tech > div > #icons{
    /* border:1px solid #fff; */
    text-align: end;
}

#about > .pageContent > .tech > div > #icons > img{
    height:40px;
}


@media only screen and (min-width:800px){
    #about > .pageContent > .tech{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}