.tech{
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    justify-content: center;
    grid-gap:30px;
}
  

.skillbox{
    font-weight:normal;
    /* border:1px solid #ffffff7a; */
    border-radius:5px;
    /* background:#1f1f1f; */
    background:#000625;
    transition:.3s;
    text-align:center;
    padding:30px;
}

.skillbox:hover{
    background:#000414;
    transition:.3s;
    border: 1px solid #fff;
}


.skillabel{
    font-size:16px;
    text-align: center;
    margin-bottom:40px;
    padding:5px;
    color:#eee;
    font-weight: bold;
    /* border:1px solid; */
}

.skillabel > i{
    /* color:#2fff4b; */
    margin-left:5px;
}


#alt{
    color:#ddd;
    font-size: 12px;
}


#icons > img{
    height:40px;
}

.icons-holder{
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-gap:40px;

    justify-content: center;
    /* border:1px solid */
}


@media only screen and (min-width:700px){

    .tech{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:none;
        grid-gap:30px;
        /* border:1px solid; */
    }

    .skillbox{
        padding:30px;
        background:#000625;
        /* border:1px solid #ffffff7a;  */
    }


    .skillabel{
        font-size:16px;
        /* border:1px solid; */
        padding:5px;
        text-align:center;
        color:#eee;
        font-weight:bold;
    }

    .skillabel > i{
        /* color:#2fff4b; */
        margin-left:5px;
    }
}


@media only screen and (min-width:1200px){
    .tech{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:none;
        /* grid-gap:30px; */
        /* border:1px solid; */
    }
}