.skillbox{
    font-weight:normal;
    /* margin:8px; */
    border:1px solid #ffffff7a;
    border-radius:5px;
    /* background:#1f1f1f; */
    background:#000727;
    transition:.3s;
    text-align:center;
}

.skillbox:hover{
    background:#000414;
    transition:.3s;
    border: 1px solid #fff;
}


.skillabel{
    font-size:16px;
    text-align: center;
    margin-bottom:40px;
    /* border:1px solid; */
}


#alt{
    color:#ddd;
    font-size: 12px;
}


#icons > img{
    height:40px;
}

.icons-holder{
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-gap:40px;
}


@media only screen and (min-width:800px){

    .tech{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap:30px;
        /* border:1px solid; */
    }

    .skillbox{
        padding:30px;
    }

    .skillabel{
        font-size:16px;
        /* border:1px solid; */
        padding:5px;
        text-align:center;
        color:#eee;
        font-weight:bold;
    }

    .skillabel > i{
        /* color:#2fff4b; */
        margin-left:5px;
    }
}