/* THIS IS THE STYLE FOR SAME DESIGN OF ELEMENTS IN EACH PAGES */



body{
    /* background: #00031d; */
    background: #00063a;
    padding:0;
    margin:0;
}

*{
    font-family:sans-serif;
    scroll-behavior: smooth;
    transition:.5s;
}

a{
    text-decoration: none;
}

hr{
    border: 1px solid #353535;
}

.mainContent{
    /* border:1px solid #fff; */
    margin:20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navsHolder{
    display: flex;
    /* border: 1px solid #fff; */
    justify-content:center  ;
    padding:0;
    width:100%;
    background: #00031d;
}

.navsHolder > nav{
    margin:15px;
    /* border: 1px solid #fff; */
}

.navsHolder > nav > a{
    color:#fff;
    text-decoration:none;
    transition:.5s;
}

.navsHolder > nav > a:hover{
    color:#2fff4b;
    font-weight: bold;
    font-size:17px;
    /* text-shadow: 4px 0px 13px rgba(65,252,74,0.6); */
    /* box-shadow: rgba(65, 252, 74, 0.253) 5px 15px 30px 2px; */
    transition:.5s;
}

.navsHolder > nav > a:active{
    color: #2bff00;
}


.page{
    /* height:60vh; */
    display:flex;
    flex-direction: column;
    margin-top:100px;
    margin-bottom:200px;
    /* border: 1px solid #fff; */
    width:100%;
}


.page > .pageContent > *{
    color:#f2f2f2;
    /* border: 1px solid #fff; */
}


.page > .pageContent > .title{
    font-size:50px;
    color:#2fff4b;
}

.page > .pageContent > #label{
    color:#ddd;
}

.page > .pageContent > p {
    line-height:1.8em;
}

footer{
    font-size:14px;
    text-align:center;
    color:#777;
    padding:35px;
    background:#000414;
}

@media only screen and (min-width:800px){
    .mainContent{
        /* border:1px solid #fff; */
        margin:20px 50px 20px 50px;
    }
    
    .page{
        width:80%;
    }    
    
    .page > .pageContent > p {
        letter-spacing:1px;
    }
}

