*{
    color:#eee;
    font-family:monospace;
}



body{
    margin:0;
    padding:0;
    background:#00063a;
}


.container{
    display:flex;
    flex-direction: column;
    /* border:1px solid #eee; */
    justify-content: center;
    align-items: center;
    height:100vh;
    width:90%;
    margin: auto;
}

.row1{
    font-size:20px;
}
.row2{
    font-size:16px;
    text-align: center;
}

@media only screen and (min-width:800px){
    .container{
        display:flex;
        flex-direction: column;
        /* border:1px solid #eee; */
        justify-content: center;
        align-items: center;
        height:100vh;
        width:100%;
    }    
}