body{
    background: #00031d;
}

*{
    font-family:sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

hr{
    color:#09ff007a;
    background:#09ff007a;
    border: 1px solid #353535;
}

.mainContent{
    /* border:1px solid #fff; */
    margin:20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navsHolder{
    display: flex;
    /* border: 1px solid #fff; */
    justify-content:center  ;
    padding:0;
    width:100%;
    background: #00031d;
}

.navsHolder > nav{
    margin:15px;
    /* border: 1px solid #fff; */
}

.navsHolder > nav > a{
    color:#fff;
    text-decoration:none;
    transition:.5s;
}

.navsHolder > nav > a:hover{
    color:#2fff4b;
    font-weight: bold;
    font-size:17px;
    /* text-shadow: 4px 0px 13px rgba(65,252,74,0.6); */
    /* box-shadow: rgba(65, 252, 74, 0.253) 5px 15px 30px 2px; */
    transition:.5s;
}

.navsHolder > nav > a:active{
    color: #2bff00;
}


.page{
    /* height:60vh; */
    display:flex;
    flex-direction: column;
    margin-top:200px;
    margin-bottom:200px;
    /* border: 1px solid #fff; */
    width:100%;
}


.page > .pageContent{
    color:#fff;
    font-weight: bold;
    /* border: 1px solid #fff; */
}


.page > .pageContent > .title{
    font-size:60px;
    color:#2fff4b;
}

.page > .pageContent > p {
    font-weight: normal;
    text-align: justify;
}

footer{
    font-size:14px;
    text-align:center;
    color:#777;
    padding:10px;
}

@media only screen and (min-width:800px){
    .mainContent{
        /* border:1px solid #fff; */
        margin:20px 50px 20px 50px;
    }
    
    .page{
        width:80%;
    }
    
    
    .page > .pageContent{
        color:#fff;
        font-weight: bold;
    }
    
    
    .page > .pageContent > p {
        letter-spacing:1px;
    }
}


















/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */
/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */
/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */

.page > .pageContent > .sm{
    font-size:30px;
    margin-left:5px
}

.page > .pageContent > .lg{
    font-size:60px;
    color:#2fff4b;
}


button {
    margin-top:20px;
    align-items: center;
    background-image: linear-gradient(144deg, #004600,#2bff00);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(65, 252, 74, 0.2) 0px 0px 30px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }


/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */
/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */
/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */













/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */

#about > .pageContent > .aboutIcons{
    text-align: end;
}

#about > .pageContent > .aboutIcons > img{
    height:20px;
}

#about > .pageContent > .tech{
    display:grid;
    grid-template-columns:1fr 1fr;
}

#about > .pageContent > .tech > div{
    font-weight:normal;
    margin:8px;
    border:1px solid #ffffff7a;
    border-radius:5px;
    /* background:#1f1f1f; */
    background:#000625;
    padding:10px;
    transition:.3s;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about > .pageContent > .tech > div:hover{
    background:#000c46;
    transition:.3s;
    border: 1px solid #fff;
    box-shadow: 0px 0px 30px 1px rgba(204, 204, 204, 0.3);
}


#about > .pageContent > .tech > div > #alt{
    color:#ddd;
}


#about > .pageContent > .tech > div > #icons{
    /* border:1px solid #fff; */
    text-align: end;
}

#about > .pageContent > .tech > div > #icons > img{
    height:40px;
}


@media only screen and (min-width:800px){
    #about > .pageContent > .tech{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */





/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */

.projList{
    width:100%;
    /* border:1px solid #fff; */
}

.projList > div{
    border:1px solid #ffffff8e;
    border-radius:5px;
    background: #000625;
    padding:10px;
    margin:10px;
    padding:15px;
}

.projList > div:hover{
    background:#000c46;
    transition:.3s;
    border: 1px solid #fff;
    box-shadow: 0px 0px 30px 1px rgba(204, 204, 204, 0.3);
}

.projList > div > span{
    font-weight: bold;
    color: #ffffffd2;
}
.projList > div > p{
    font-weight: normal;
    color: #ffffffd2;
    font-size:14px;
    /* text-align: justify; */
}


.projList > div > img{
    width:100%;
}

@media only screen and (min-width:800px){
    .projList{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:100%;
        /* border:1px solid #fff; */
    }
}

/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */










