#gitContent{
    text-align: center;
}

#mymessage{
    width: 100%;
    text-align: center;
    margin:2em auto auto auto;
    color:#ddd;
}

@media only screen and (min-width:800px) {
    #mymessage{
        width: 80%;
        text-align: center;
        margin:2em auto auto auto;
        color:#ddd;
    }
}